# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Flask
instance/
.webassets-cache

# Ansible
*.retry
dynatrace-oneagent-*.tar.gz

# JetBrains IDE
.idea

# Tests working directory
ansible_oneagent_tests_run_dir/
