# Copyright 2024 Dynatrace LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Check commits
on:
  pull_request:
  
jobs:
  check-commits:
    runs-on: ubuntu-latest
    steps:
      # Checkout the branch
      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Check commit messages
        env:
          BASE_REF: ${{ github.event.pull_request.base.sha }}
          HEAD_REF: ${{ github.event.pull_request.head.sha }}
        run: |
          echo "Checking commits from $BASE_REF to $HEAD_REF"
          for COMMIT in $(git rev-list $BASE_REF..$HEAD_REF); do
            echo "Checking commit $COMMIT"
            commit_msg_file=$(mktemp)
            git show --format=%B $COMMIT > ${commit_msg_file}
            npx git-conventional-commits commit-msg-hook ${commit_msg_file}
          done
